services:

  jenkins:
    build:
      context: .
    container_name: jenkins
    restart: unless-stopped
    user: root
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    
    group_add:
      - ${DOCKER_GID:-989}
    networks:
      - jenkins_network

volumes:
  jenkins_home:
networks:
  jenkins_network: