services:

  ollama:
    image: ollama/ollama:latest
    container_name: ollama-server
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    environment:
      - OLLAMA_HOST
      - OLLAMA_API_KEY

    restart: unless-stopped
    networks:
      - ollama_network

  webui:

    image: ghcr.io/ollama-webui/ollama-webui:main
    container_name: ollama-webui
    ports:
      - "3000:8080"
    environment:
      - OLLAMA_API_BASE_URL
    depends_on:
      - ollama
    restart: unless-stopped
    networks:
      - ollama_network

volumes:
  ollama_data:
    name: ollama_data
networks:
  ollama_network:
    name: ollama_network